:root {
    height:100svh;
    --pink-rgb: 255 192 203;
    --blue-rgb: 135 206 235;
    --blue-rgb-comp: 222 155 80;
    --primary-rgb: var(--blue-rgb);

    --color-test: 255 229 116;
    --color-test-comp: 80 81 222;
    --peach-grey: 241 197 147;
    --homerow-rgb: var(--blue-rgb-comp);
    background-color:rgb(var(--color-test-comp) / 2%)
}

* {
    box-sizing: border-box;
}

.personalsummary {
    word-wrap: break-word;
    width: 40svw;
}

.pagerepo {
    width: 100svw;
}

nav {
    position: sticky; top: 0;
}

  body {
    min-height: 100svh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body nav {
    position: sticky;
    top: 0;
  }
  ul {
    width: 100svw;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
  }
  li {
    list-style: none;
    margin-right: 20px;
    font-size: 25px;
    font-weight: bold;
  }
  li a {
    text-decoration: none;
    color: #1ac;
  }

  p a {
    text-decoration: none;
    color: #1ac;
  }
  section {
    height: 100svh;
    display: grid;
    place-items: center;
    font-size: 50px;
    font-weight: bold;
    background: #eee;
  }

  footer {
    color: rgb(34, 221, 181);
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background: #fff;
    position: sticky;
    bottom: 0;
  }
